.app__contact {
    background-color: rgb(1, 1, 76);
    padding: 4rem;
}

.app__contact-subtitle {
    color: rgb(234, 224, 224);
    font-size: smaller;
    align-items: center;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.app__contact-title {
    color: wheat;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.app__contact-first {
    display: flex;
    justify-content: center;
    flex: 1;
    color: white;
    padding: 1rem 1rem 1rem 4rem;
}

.inner__elements {
    display: flex;
    justify-content: center;
}

.app__contact-second {
    display: flex;
    justify-content: center;
    flex: 1;
    color: white;
    padding: 8rem 0rem 1rem rem;
}

.app__contact-location {
    box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
    padding: 1rem 7.6rem 1rem 7rem;
    color: wheat;
    letter-spacing: 1px;

}

.app__contact-phone {
    box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
    padding: 1rem 7rem 1rem 7rem;
    margin-left: 230px;
    color: wheat;
    letter-spacing: 2px;
}

.app__contact-email {
    box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
    padding: 1rem 4rem 1rem 3.2rem;
    margin-left: 50px;
    color: wheat;
}

.app__contact-linkedin {
    box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
    padding: 1rem 2.5rem 1rem 2.1rem;
    margin-left: 238px;
    color: wheat;
}

.app__contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app__contact_info {
    margin-left: 20px;
    margin-top: 5px;

}


.app__reacticons {
    display: flex;
    justify-content: center;
}

/* .icon {
    margin-left: 50px;
} */

.app__contact-phone_info {
    margin-left: 10px;
}

/* .email_icon {
    margin-left: 120px;
} */

.app__contact_email-info {
    margin-left: 105px;
    margin-top: 5px;
}

.app__contact-email_infoo {
    margin-left: 5px;
}

/* .linked_icon {
    margin-left: 130px;
} */

.app__contact_linked-info {
    margin-left: 95px;
    margin-top: 5px;
}

.app__contact-linked_infoo a {
    text-decoration: none;
    color: wheat;
}

.app__contact-linked_infoo a:hover {
    color: cadetblue;
}

.email_icon {
    margin-left: 20px;
}

.linked_icon {
    margin-left: 20px;
}

@media screen and (max-width:1050px) {
    .app__contact {
        padding: 2rem 10rem 2rem 10rem;
    }

    .app__contact-first {
        display: flex;
        flex: 1;
        color: white;
        padding: 1rem 2rem 1rem 2rem;
    }

    .app__contact-second {
        display: flex;
        /* flex-direction: column; */
        flex: 1;
        color: white;
        padding: 2rem 2rem 1rem 2rem;
    }

    .app__contact-location {
        margin-left: 20px;
        padding: 1rem 3.4rem 1rem 4rem;
        color: wheat;
        letter-spacing: 1px;
    }

    .app__contact-phone {
        padding: 1rem 3.5rem 1rem 3.5rem;
        margin-left: 30px;
        color: wheat;
        letter-spacing: 2px;
    }

    .app__contact-email {
        /* box-shadow: none; */
        padding: 1rem 2rem 1rem .5rem;
        margin-left: -30px;
        color: wheat;
    }

    .app__contact-email_infoo {
        font-size: medium;
        margin-left: 40px;
    }

    .app__contact-linkedin {
        padding: 1rem 2rem 1rem 1rem;
        margin-left: 10px;
        /* margin-top: 50px; */
        color: wheat;
    }

    .app__contact-linked_infoo {
        font-size: medium;
    }
}

@media screen and (max-width:950px) {
    .app__contact {
        padding: 2rem 8rem 2rem 8rem;
    }

    .app__contact-first {
        display: flex;
        flex: 1;
        color: white;
        padding: 1rem 2rem 1rem 2rem;
    }

    .app__contact-second {
        display: flex;
        /* flex-direction: column; */
        flex: 1;
        color: white;
        padding: 2rem 2rem 1rem 2rem;
    }

    .app__contact-location {
        margin-left: 20px;
        padding: 1rem 3.4rem 1rem 4rem;
        color: wheat;
        letter-spacing: 1px;
    }

    .app__contact-phone {
        padding: 1rem 3.5rem 1rem 3.5rem;
        margin-left: 30px;
        color: wheat;
        letter-spacing: 2px;
    }

    .app__contact-email {
        /* box-shadow: none; */
        padding: 1rem 2rem 1rem .5rem;
        margin-left: -30px;
        color: wheat;
    }

    .app__contact-email_infoo {
        font-size: medium;
        margin-left: 40px;
    }

    .app__contact-linkedin {
        padding: 1rem 2rem 1rem 1rem;
        margin-left: 10px;
        /* margin-top: 50px; */
        color: wheat;
    }

    .app__contact-linked_infoo {
        font-size: medium;
    }
}

@media screen and (max-width:850px) {
    .app__contact {
        padding: 2rem 6rem 2rem 6rem;
    }

    .app__contact-first {
        display: flex;
        flex: 1;
        color: white;
        padding: 1rem 2rem 1rem 2rem;
    }

    .app__contact-second {
        display: flex;
        /* flex-direction: column; */
        flex: 1;
        color: white;
        padding: 2rem 2rem 1rem 4rem;
    }

    .app__contact-location {
        margin-left: 20px;
        padding: 1rem 3.4rem 1rem 4rem;
        color: wheat;
        letter-spacing: 1px;
    }

    .app__contact-phone {
        padding: 1rem 3.5rem 1rem 3.5rem;
        margin-left: 30px;
        color: wheat;
        letter-spacing: 2px;
    }

    .app__contact-email {
        /* box-shadow: none; */
        padding: 1rem 2rem 1rem .5rem;
        margin-left: -30px;
        color: wheat;
    }

    .app__contact-email_infoo {
        font-size: smaller;
        margin-left: 40px;
    }

    .app__contact-linkedin {
        padding: 1rem 2rem 1rem 1rem;
        margin-left: 10px;
        /* margin-top: 50px; */
        color: wheat;
    }

    .app__contact-linked_infoo {
        font-size: smaller;
    }

    .email_icon {
        margin-left: 20px;
    }

    .linked_icon {
        margin-left: 50px;
    }
}

@media screen and (max-width: 750px) {

    .app__contact {
        padding: 2rem 4rem 2rem 4rem;
    }

    .app__contact-first {
        display: flex;
        flex: 1;
        color: white;
        padding: 1rem 1rem 1rem 1rem;
    }

    .app__contact-second {
        display: flex;
        /* flex-direction: column; */
        flex: 1;
        color: white;
        padding: 2rem 1rem 1rem 3rem;
    }

    .app__contact-location {
        margin-left: 20px;
        padding: 1rem 3.4rem 1rem 4rem;
        color: wheat;
        letter-spacing: 1px;
    }

    .app__contact-phone {
        padding: 1rem 3.5rem 1rem 3.5rem;
        margin-left: 30px;
        color: wheat;
        letter-spacing: 2px;
    }

    .app__contact-email {
        /* box-shadow: none; */
        padding: 1rem 2rem 1rem .5rem;
        margin-left: -30px;
        color: wheat;
    }

    .app__contact-email_infoo {
        font-size: smaller;
        margin-left: 40px;
    }

    .app__contact-linkedin {
        padding: 1rem 2rem 1rem 1rem;
        margin-left: 10px;
        /* margin-top: 50px; */
        color: wheat;
    }

    .app__contact-linked_infoo {
        font-size: smaller;
    }

    .email_icon {
        margin-left: 20px;
    }

    .linked_icon {
        margin-left: 50px;
    }
}

@media screen and (max-width: 660px) {
    .app__contact {
        padding: 0rem;
    }

    .app__contact-first {
        display: flex;
        flex: 1;
        color: white;
        padding: 1rem 1rem 1rem 1rem;
    }

    .app__contact-second {
        display: flex;
        /* flex-direction: column; */
        flex: 1;
        color: white;
        padding: 2rem 1rem 1rem 3rem;
    }

    .app__contact-location {
        margin-left: 20px;
        padding: 1rem 3.4rem 1rem 4rem;
        color: wheat;
        letter-spacing: 1px;
    }

    .app__contact-phone {
        padding: 1rem 3.5rem 1rem 3.5rem;
        margin-left: 30px;
        color: wheat;
        letter-spacing: 2px;
    }

    .app__contact-email {
        /* box-shadow: none; */
        padding: 1rem 2rem 1rem .5rem;
        margin-left: -30px;
        color: wheat;
    }

    .app__contact-email_infoo {
        font-size: smaller;
        margin-left: 40px;
    }

    .app__contact-linkedin {
        padding: 1rem 2rem 1rem 1rem;
        margin-left: 10px;
        color: wheat;
    }

    .app__contact-linked_infoo {
        font-size: smaller;
        margin-left: 10px;
    }

    .email_icon {
        margin-left: 20px;
    }

    .linked_icon {
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    .app__contact {
        /* padding: 3.5rem; */
    }

    .app__contact-first {
        display: flex;
        flex: 1;
        color: white;
        /* padding: 1rem 1rem 1rem 4rem; */
        flex-direction: column;
    }

    .app__contact-second {
        display: flex;
        flex: 1;
        color: white;
        /* padding: 2rem 1rem 1rem 1rem; */
        flex-direction: column;
    }

    .app__contact-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .linkedin {
        padding: 0rem 0rem 0rem 3rem;
    }


    .app__contact-location {
        box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
        padding: 1rem 4rem 1rem 4.5rem;
        color: wheat;
        letter-spacing: 1px;
        margin-left: 4px;
    }

    .app__contact-phone {
        box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
        padding: 1rem 4rem 1rem 4.5rem;
        margin-left: 0px;
        margin-top: 50px;
        color: wheat;
        letter-spacing: 2px;
    }

    .app__contact-email {
        box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
        padding: 1rem 4rem 1rem 4rem;
        margin-left: -30px;
        color: wheat;
    }

    .app__contact-linkedin {
        box-shadow: 1px 1px 5px 1px rgb(23, 71, 115);
        padding: 1rem 4rem 1rem 4rem;
        margin-left: -75px;
        margin-top: 50px;
        color: wheat;
    }

    .app__contact-linked_infoo a {
        text-decoration: none;
        color: wheat;
        margin-left: 10px;
        font-size: medium;
    }

    .app__contact-email_infoo {
        font-size: medium;
        margin-left: 10px;
    }

    .email_icon {
        margin-left: 10px;
    }

    .linked_icon {
        margin-left: 0px;
    }
}


@media screen and (max-width: 493px) {
    .app__contact-email {
        box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
        padding: 1rem 6rem 1rem 5rem;
        /* margin-left: 50px; */
        color: wheat;
    }

    .app__contact-linkedin {
        box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
        padding: 1rem 7rem 1rem 6rem;
        /* margin-left: 0px; */
        margin-top: 50px;
        color: wheat;
    }

}

@media screen and (max-width: 450px) {


    .app__contact-linkedin {
        box-shadow: 1px 1px 5px 1px rgb(23, 46, 115);
        padding: 1rem 6rem 1rem 5rem;
        /* margin-left: -30px; */
        margin-top: 50px;
        color: wheat;
    }

    .app__contact-linked_infoo {
        margin-left: 5px;
    }

    .app__contact_linked-info {
        margin-left: 110px;
    }

    .linked_icon {
        margin-left: 10px;
    }
}

@media screen and (max-width: 425px) {

    .app__contact-linked_infoo a
     {
        font-size: 14.5px;
    }

    .app__contact-email_infoo {
        font-size: 14px;
        margin-left: 18px;
    }

    .app__contact_linked-info {
        margin-left: 95px;
    }

    .linked_icon {
        margin-left: 10px;
    }

    .app__contact_email-info {
        margin-left: 95px;
    }
}

@media screen and (max-width: 400px) {

    .app__contact-linked_infoo a {
            font-size: 14px;
        }
    
        .app__contact-email_infoo {
            font-size: 13.5px;
            margin-left: 18px;
        }
        
}