.app {
    padding: 0rem 0rem 0rem 0rem;
}

.app__home {
    background: #ede0d4;
    color: white;
    padding: 0rem;
    z-index: -1;
}


.home {
    flex: 1;
    display: flex;
    padding: 3rem 4rem 4rem 4rem;
}

.app__home-info {
    margin-top: 100px;
    margin-left: 20px;
    font-size: large;
    font-family: cursive;
}

.app__home-info h2 {
    color: #7f5539;
    font-family: serif;
    font-size: large;

}

.type {
    color: #042b44;
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
    font-family: serif;
    /* animation: fade 5s 2ms forwards; */
    z-index: 0;
    overflow: hidden;
    display: flex;
}

.border {
    box-shadow: 1px 1px 3px#7f5539 inset;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 5px;
    z-index: 0;
}




.app__home-img-containner {
    margin-left: 520px;
    margin-left: 1px;
}

.app__home-img-containner img {
    margin-left: 250px;
    margin-top: 30px;
    width: 260px;
    height: 320px;
    border-radius: 20px;

}

.home__footer-icons {
    font-size: 25px;
    margin-left: 30px;
    padding: .9rem 0rem 1rem 0rem;

}

.home__footer-linkedin {
    cursor: pointer;
    font-size: 30px;
}

.home__footer-linkedin:hover {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.home__footer-github {
    margin-left: 15px;
    font-size: 30px;
    
}
.home__footer-github:hover{
 animation: shake 0.5s infinite;
 }

.app__homee__ {
    display: flex;
    justify-content: center;
}

.download-button {
    position: relative;
    border-width: 0;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 0;
    border-radius: 50PX;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 0;
    background-color: #FFFF;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 50PX;
    color: #5b4431;
    box-shadow: 1px 1px 10px #b08968;
    font-family: serif;
    letter-spacing: 1px;
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #7f55398f;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 50PX;

}

.download-button:hover .download {
    transform: translateY(100%)
}

.download svg polyline,
.download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}




/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: #deb092;
    --animation-color: #7f5539;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    margin-left: 20px;
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}




@media screen and (max-width: 1200px) {
    .app__home-img-containner {
        margin-left: 100px;
    }

    .app__home-img-containner img {
        margin-left: 100px;
        margin-top: 30px;
        width: 320px;

    }

    .home {
        padding: 4rem 4rem .5rem 1rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 20px;
        font-size: large;
    }

    .Typewriter {
        margin-left: 30px;
    }

}

@media screen and (max-width: 1100px) {
    .app__home-img-containner {
        margin-left: 1px;
    }

    .app__home-img-containner img {
        margin-left: 100px;
        margin-top: 30px;
        width: 270px;

    }

    .home {
        padding: 4rem 4rem .5rem 1rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 20px;
        font-size: large;
    }

    .Typewriter {
        margin-left: 30px;
    }


}

@media screen and (max-width: 970px) {
    .app__home-img-containner {
        margin-left: 1px;
    }

    .app__home-img-containner img {
        margin-left: 90px;
        margin-top: 30px;
        width: 260px;

    }

    .home {
        padding: 4rem 4rem 1rem .5rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 20px;
        font-size: large;
    }

    .Typewriter {
        margin-left: 30px;
    }


}

@media screen and (max-width: 910px) {

    .app__home-img-containner {
        margin-left: 35px;
    }

    .app__home-img-containner img {
        margin-left: 10px;
        margin-top: 30px;
        width: 280px;

    }

    .home {
        padding: 4rem 0.5rem 1rem 0.5rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 20px;
        font-size: 15px;
    }

    .Typewriter {
        margin-left: 40px;
    }

}

@media screen and (max-width: 890px) {
    .app__home-img-containner {
        margin-left: 35px;
    }

    .app__home-img-containner img {
        margin-left: 10px;
        margin-top: 30px;
        width: 240px;
        height: 280px;
        border-radius: 20px;

    }

    .home {
        padding: 4rem 0.5rem 1rem 0.5rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 20px;
        font-size: 15px;
    }

    .Typewriter {
        margin-left: 40px;
    }

}

@media screen and (max-width: 771px) {
    .app {
        padding: 0rem 0rem 0rem 0rem;
    }

    .app__home-img-containner {
        margin-left: 30px;
    }

    .app__home-img-containner img {
        margin-left: 0.1px;
        margin-top: 30px;
        width: 220px;

    }

    .home {
        padding: 2rem 2rem 2rem 0rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 10px;
        font-size: 15px;
    }

    .Typewriter {
        margin-left: 20px;
        font-size: 15px;
    }

    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 15px;
        font-family: serif;

        /* animation: fade 5s 2ms forwards; */
    }

    .border {
        box-shadow: 1px 1px 3px#7f5539 inset;
        border-radius: 50px;
        margin-top: 15px;
        margin-left: 5px;
    }


}

@media screen and (max-width: 610px) {
    .app__home-img-containner {
        margin-left: 0px;
    }

    .app__home-img-containner img {
        margin-left: 20px;
        margin-top: 30px;
        width: 165px;
        height: 250px;

    }

    .home {
        padding: 1rem 1rem 1rem 0.5rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 0px;
        font-size: small;
    }

    .Typewriter {
        margin-left: 10px;
    }



}

@media screen and (max-width: 529px) {
    .app__home-img-containner {
        margin-left: 1px;
    }

    .app__home-img-containner img {
        margin-left: 19px;
        margin-top: 30px;
        width: 160px;

    }

    .home {
        padding: 2rem .5rem 0.1rem .5rem;
    }

    .app__home {
        padding: 0;
    }

    .app__home-info {
        margin-left: 2px;
        font-size: 15px;
    }

    .Typewriter {
        margin-left: 6px;
    }

    /* 
    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 20px;
        font-family: serif;

        animation: fade 5s 2ms forwards;
    }

    .border {
        box-shadow: 1px 1px 3px#7f5539 inset;
        border-radius: 50px;
        margin-top: 15px;
        margin-left: 5px;
    } */


}


/* mobile devices */
@media screen and (max-width: 473px) {
    .app__home-info {
        margin-top: 15px;
        margin-left: -105px;
        padding: 0;
    }

    .app__home-img-containner img {
        margin-left: 95px;
        margin-top: -40px;
        height: 200px;
        width: 150px;
        border-radius: 10%;

    }

    .app__home-conatiner {
        margin-left: 95px;
        display: flex;
        flex-direction: column;
    }

    .home {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5rem .5rem .5rem .5rem;
    }

    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 20px;
        font-family: serif;


        /* animation: fade 5s 2ms forwards; */
    }

    .border {
        box-shadow: 1px 1px 3px#7f5539 inset;
        border-radius: 50px;
        margin-top: 15px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 415px) {
    .app__home-info {
        margin-left: -85px;
    }

    .app__home-img-containner img {
        margin-left: 75px;
    }

    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 18px;
        font-family: serif;

        /* animation: fade 5s 2ms forwards; */
    }
}

@media screen and (max-width: 385px) {
    .app__home-img-containner img {
        margin-left: 55px;

    }

    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 18px;
        font-family: serif;

        /* animation: fade 5s 2ms forwards; */
    }

    .border {
        box-shadow: 1px 1px 3px#7f5539 inset;
        border-radius: 50px;
        margin-top: 15px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 367px) {
    .app__home-info {
        margin-left: -85px;
    }

    .app__home-img-containner img {
        margin-left: 45px;
    }

    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 17px;
        font-family: serif;

        /* animation: fade 5s 2ms forwards; */
    }

    .border {
        box-shadow: 1px 1px 3px#7f5539 inset;
        border-radius: 50px;
        margin-top: 15px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 357px) {
    .app__home-info {
        margin-top: 15px;
        margin-left: -55px;
        padding: 0;
    }

    .app__home-img-containner img {
        margin-left: 95px;
        margin-top: -40px;
        height: 220px;
        width: 170px;
    }

    .app__home-conatiner {
        margin-left: 45px;

    }
}

@media screen and (max-width: 332px) {
    .app__home-info h2 {
        font-size: medium;
        margin-left: 2px;
    }

    .Typewriter {
        font-size: small;
    }



    .app__home-info button {
        margin-left: 5px;
    }
}

@media screen and (max-width: 325px) {
    .app__home-info {
        margin-left: -50px;
        margin-top: -10px;
    }

    .app__home-info h2 {
        font-size: small;
        margin-left: 2px;
    }

    .Typewriter {
        font-size: smaller;
    }



    .app__home-info button {
        margin-left: 5px;
    }

    .app__home-img-containner img {
        margin-left: 85px;
        margin-top: -40px;
        height: 200px;
        width: 150px;
    }

    .app__home-conatiner {
        margin-left: 35px;

    }

    .type {
        color: #042b44;
        margin-top: 15px;
        margin-left: 5px;
        font-size: 15px;
        font-family: serif;

        /* animation: fade 5s 2ms forwards; */
    }

    .border {
        box-shadow: 1px 1px 3px#7f5539 inset;
        border-radius: 50px;
        margin-top: 15px;
        margin-left: 5px;
    }
}