.app__about {
    background-color: #e6ccb2;
    color: #02222e;
    padding: .5rem 4rem 2rem 2rem;
}

.about__heading {
    margin-left: 30px;
}

.about__heading h2 {
    margin-top: 30px;
    margin-bottom: 22px;
    text-align: center;
    color: #9c6644;
    font-family: serif;
    letter-spacing: 2px;
    padding: 15px 0px 0px 0px;
}

.fade-in {
    opacity: 0;
    transition: opacity .5s ease-in-out;

}

.visible {
    opacity: 1;
    font-weight: bolder;
}



.fade-in1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible1 {
    opacity: 1;
    animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.fade-in2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.visible2 {
    opacity: 1;
    animation: fadeInAnimation 4s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.slide-in {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.slide {
    transform: translateX(0);
    opacity: 1;
}

.shaking-icon {
    /* font-size: 32px;
    margin: 10px; */
    transition: transform 0.2s ease-in-out;
}

.shake {
    animation: shakeAnimation 0.5s 2;
}

@keyframes shakeAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.second_part {
    margin-top: -30px;
}

.about__content h3 {
    margin-left: 20px;
    letter-spacing: 2px;
    font-family: serif;
    color: #7f5539;
}

.about__content h5 {
    margin-left: 50px;
    letter-spacing: 2px;
    font-family: serif;
}

.aboutt {
    background-color: #ede0d4;
    /* color: white; */
}

.about__content p {
    text-align: justify;

}

.about__info-content {
    padding: 0.5rem 8rem 0rem 8rem;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.about__highlight {
    font-size: medium;
    font-family: serif;
}

.qualification__experience {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 70px;

}

.qualification__experience-certificate {
    margin-left: 35px;
}

.qualification {
    padding: 0rem 6rem 0.5rem 6rem
}

.heading {
    color: #123c69;
    margin-bottom: px;
    font-size: 18px;


}


.title {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.year {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.calender {
    margin-right: 5px;
}

.about {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.place {
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.qualification__experience-internship {
    margin-left: 350px;
}

.qualification__education {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 0.5rem 3rem 0.5rem 2rem;


}

.qualification__education-school {
    margin-left: 310px;
}

@media screen and (max-width: 1250px) {
    .app__about {
        padding: 2.5rem 4rem 2rem 4rem;
    }

    .about__heading {
        margin-left: 0px;
    }

    .about__content h5 {
        margin-left: 1px;
    }

    .about__content h3 {
        margin-left: 1px;
    }

    .about__info-content {
        padding: 1rem 0.5rem 1rem 0.6rem;
    }

    .qualification {
        padding: 0.5rem 1rem 0.5rem 0.1rem
    }

    .qualification__experience-internship {
        margin-left: 150px;
    }

    .qualification__education-school {
        margin-left: 110px;
    }

    .qualification__experience-certificate {
        margin-left: 0px;
    }

    .qualification__education {
        padding: 0.5rem 5rem 0.5rem 0.1rem
    }
}

@media screen and (max-width: 910px) {
    .app__about {
        padding: 2.5rem 3rem 2rem 3rem;
    }

    .about__content h5 {
        margin-left: 1px;
    }

    .about__content h3 {
        margin-left: 1px;
    }

    .about__info-content {
        padding: 1rem 0.5rem 1rem 0.6rem;
    }

    .qualification {
        padding: 0.5rem 1rem 0.5rem 0.1rem
    }

    .qualification__experience-internship {
        margin-left: 120px;
    }

    .qualification__education-school {
        margin-left: 90px;
    }

    .qualification__experience-certificate {
        margin-left: 0px;
    }

    .qualification__education {
        padding: 0.5rem 4rem 0.5rem 0.1rem
    }
}

@media screen and (max-width: 850px) {
    .app__about {
        padding: .5rem 3rem 2rem 3rem;
    }

    .about__content h5 {
        margin-left: 1px;
    }

    .about__content h3 {
        margin-left: 1px;
    }

    .about__info-content {
        padding: 1rem 0.5rem 1rem 0.6rem;
    }

    .qualification {
        padding: 0.5rem 1rem 0.5rem 0.1rem
    }

    .qualification__experience-internship {
        margin-left: 90px;
    }

    .qualification__education-school {
        margin-left: 70px;
    }

    .qualification__experience-certificate {
        margin-left: 0px;
    }

    .qualification__education {
        padding: 0.5rem 4rem 0.5rem 0.1rem
    }
}

@media screen and (max-width: 750px) {
    .app__about {
        padding: 2.5rem 3rem 2rem 3rem;
    }

    .about__content h5 {
        margin-left: 1px;
    }

    .about__content h3 {
        margin-left: 1px;
    }

    .about__info-content {
        padding: 1rem 0.5rem 1rem 0.6rem;
    }

    .qualification {
        padding: 0.5rem 1rem 0.5rem 0.1rem
    }

    .qualification__experience-internship {
        margin-left: 90px;
    }

    .qualification__education-school {
        margin-left: 40px;
    }

    .qualification__experience-certificate {
        margin-left: 0px;
    }

    .qualification__education {
        padding: 0.5rem 3rem 0.5rem 0.1rem
    }
}

@media screen and (max-width: 660px) {
    .app__about {
        padding: .5rem 2rem 2.5rem 2rem;
    }

    .about__content h5 {
        margin-left: 1px;
    }

    .about__content h3 {
        margin-left: 1px;
    }

    .about__info-content {
        padding: 1rem 0.5rem 1rem 0.6rem;
    }

    .qualification {
        padding: 0.5rem 1rem 0.5rem 0.1rem
    }

    .qualification__experience-internship {
        margin-left: 60px;
    }

    .qualification__education-school {
        margin-left: 10px;
    }

    .qualification__experience-certificate {
        margin-left: 0px;
    }

    .qualification__education {
        padding: 0.5rem 1rem 0.5rem 0.1rem
    }
}

@media screen and (max-width: 510px) {
    .about__info-content .about__first-content {
        font-size: small;
    }

    .about__info-content .about__second-content {
        font-size: small;
    }

    .qualification__experience {
        flex-direction: column;
        margin-top: 40px;
        margin-left: 0px;
    }

    .qualification__experience-internship {
        margin-top: 20px;
        margin-left: 150px;
    }

    .qualification__education {
        flex-direction: column;
        margin-top: 20px;
    }

    .qualification__education-school {
        margin-top: 20px;
        margin-left: 180px;
    }

    .qualification__experience-certificate h3 {
        font-size: medium;
    }

    .qualification__experience-certificate .title {
        font-size: small;
    }

    .qualification__experience-certificate .place {
        font-size: small;
    }

    .qualification__experience-certificate .year {
        font-size: small;
    }

    .qualification__experience-internship h3 {
        font-size: medium;
    }

    .qualification__experience-internship .title {
        font-size: small;
    }

    .qualification__experience-internship .place {
        font-size: small;
    }

    .qualification__experience-internship .year {
        font-size: small;
    }

    .qualification__education-degree h3 {
        font-size: medium;
    }

    .qualification__education-degree .title {
        font-size: small;
    }

    .qualification__education-degree .place {
        font-size: small;
    }

    .qualification__education-degree .year {
        font-size: small;
    }

    .qualification__education-school h3 {
        font-size: medium;
    }

    .qualification__education-school .title {
        font-size: small;
    }

    .qualification__education-school .place {
        font-size: small;
    }

    .qualification__education-school .year {
        font-size: small;
    }
}

@media screen and (max-width: 473px) {
    .app__about {
        padding: .1rem .1rem 1rem .1rem;
    }

    .app__info-content {
        font-size: .1px;
    }

    .qualification__experience-certificate {
        margin-left: 5px;
    }

    .qualification__experience-internship {
        margin-left: 220px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 220px;
        margin-top: 35px;
    }

    .qualification__education-degree {
        margin-top: 20px;
    }

    .qualification__experience-certificate {
        margin-top: -30px;
    }


}

@media screen and (max-width: 415px) {
    .qualification__experience-internship {
        margin-left: 190px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 190px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 385px) {
    .qualification__experience-internship {
        margin-left: 170px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 170px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 367px) {
    .qualification__experience-internship {
        margin-left: 150px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 150px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 357px) {
    .qualification__experience-internship {
        margin-left: 130px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 130px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 332px) {
    .qualification__experience-internship {
        margin-left: 110px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 110px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 325px) {
    .qualification__experience-internship {
        margin-left: 90px;
        margin-top: 35px;
    }

    .qualification__education-school {
        margin-left: 90px;
        margin-top: 35px;
    }
}