.skills {
    background-color: #e5d0bc;
    color: #7f5539;
    padding: 3rem 8rem 5rem 7rem;
}

.fade-in {
    transform: translateX(-100%);
    transition: transform 1.5s ease-in-out;
}

.visible {
    transform: translateX(0);
}


.loader {
    margin-top: -130px;
    margin-left: -50px;
    position: relative;
    width: 75px;
    height: 100px;

}

.loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: #7f5539;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 #7f5539;
}

.loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
}

.loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgb(225, 136, 3);
    border-radius: 50%;
    -webkit-animation: ball624 4s infinite;
    animation: ball624 4s infinite;
}

@keyframes ball624 {
    0% {
        transform: translate(0, 0);
    }

    5% {
        transform: translate(8px, -14px);
    }

    10% {
        transform: translate(15px, -10px);
    }

    17% {
        transform: translate(23px, -24px);
    }

    20% {
        transform: translate(30px, -20px);
    }

    27% {
        transform: translate(38px, -34px);
    }

    30% {
        transform: translate(45px, -30px);
    }

    37% {
        transform: translate(53px, -44px);
    }

    40% {
        transform: translate(60px, -40px);
    }

    50% {
        transform: translate(60px, 0);
    }

    57% {
        transform: translate(53px, -14px);
    }

    60% {
        transform: translate(45px, -10px);
    }

    67% {
        transform: translate(37px, -24px);
    }

    70% {
        transform: translate(30px, -20px);
    }

    77% {
        transform: translate(22px, -34px);
    }

    80% {
        transform: translate(15px, -30px);
    }

    87% {
        transform: translate(7px, -44px);
    }

    90% {
        transform: translate(0, -40px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@-webkit-keyframes barUp1 {
    0% {
        transform: scale(1, 0.2);
    }

    40% {
        transform: scale(1, 0.2);
    }

    50% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.2);
    }
}

@keyframes barUp1 {
    0% {
        transform: scale(1, 0.2);
    }

    40% {
        transform: scale(1, 0.2);
    }

    50% {
        transform: scale(1, 1);
    }

    90% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0.2);
    }
}

@-webkit-keyframes barUp2 {
    0% {
        transform: scale(1, 0.4);
    }

    40% {
        transform: scale(1, 0.4);
    }

    50% {
        transform: scale(1, 0.8);
    }

    90% {
        transform: scale(1, 0.8);
    }

    100% {
        transform: scale(1, 0.4);
    }
}

@keyframes barUp2 {
    0% {
        transform: scale(1, 0.4);
    }

    40% {
        transform: scale(1, 0.4);
    }

    50% {
        transform: scale(1, 0.8);
    }

    90% {
        transform: scale(1, 0.8);
    }

    100% {
        transform: scale(1, 0.4);
    }
}

@-webkit-keyframes barUp3 {
    0% {
        transform: scale(1, 0.6);
    }

    100% {
        transform: scale(1, 0.6);
    }
}

@keyframes barUp3 {
    0% {
        transform: scale(1, 0.6);
    }

    100% {
        transform: scale(1, 0.6);
    }
}

@-webkit-keyframes barUp4 {
    0% {
        transform: scale(1, 0.8);
    }

    40% {
        transform: scale(1, 0.8);
    }

    50% {
        transform: scale(1, 0.4);
    }

    90% {
        transform: scale(1, 0.4);
    }

    100% {
        transform: scale(1, 0.8);
    }
}

@keyframes barUp4 {
    0% {
        transform: scale(1, 0.8);
    }

    40% {
        transform: scale(1, 0.8);
    }

    50% {
        transform: scale(1, 0.4);
    }

    90% {
        transform: scale(1, 0.4);
    }

    100% {
        transform: scale(1, 0.8);
    }
}

@-webkit-keyframes barUp5 {
    0% {
        transform: scale(1, 1);
    }

    40% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.2);
    }

    90% {
        transform: scale(1, 0.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes barUp5 {
    0% {
        transform: scale(1, 1);
    }

    40% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.2);
    }

    90% {
        transform: scale(1, 0.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.app__skillss {
    display: flex;
    justify-content: center;
}

.skills h2 {
    margin-top: 50px;
    margin-bottom: 82px;
    text-align: center;
    color: #7f5539;
    font-family: serif;
    letter-spacing: 2px;
    text-align: center;
}

.skills__subjects-list1 {
    flex: 1;
    display: flex;

    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.skills__subjects-list2 {
    flex: 1;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.skills__subjects-list3 {
    flex: 1;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.skills__subjects-list4 {
    flex: 1;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.skills__subjects-list5 {
    flex: 1;
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
}

.java {
    margin-left: 5px;
}

.sub1,
.sub4,
.sub7,
.sub10,
.sub13 {
    margin-left: 25px;
}

.sub2 {
    margin-left: 100px;
}

.sub3 {
    margin-left: 50px;
}

.sub5 {
    margin-left: 50px;
}

.sub6 {
    margin-left: 60px;
}

.sub8 {
    margin-left: 110px;
}

.sub9 {
    margin-left: 50px;
}

.sub11 {
    margin-left: 95px;
}

.sub12 {
    margin-left: 85px;
}

.sub14 {
    margin-left: 100px;
}

.sub15 {
    margin-left: 50px;
}

@media screen and (max-width: 1200px) {
    .skills {
        padding: 3rem 5rem 5rem 4rem;
    }

    .skills__subjects-list1 {
        flex: 1;
        display: flex;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .skills__subjects-list2 {
        flex: 1;
        display: flex;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .skills__subjects-list3 {
        flex: 1;
        display: flex;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .skills__subjects-list4 {
        flex: 1;
        display: flex;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .skills__subjects-list5 {
        flex: 1;
        display: flex;
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .java {
        margin-left: 5px;
    }

    .sub1,
    .sub4,
    .sub7,
    .sub10,
    .sub13 {
        margin-left: 25px;
    }

    .sub2 {
        margin-left: 100px;
    }

    .sub3 {
        margin-left: 50px;
    }

    .sub5 {
        margin-left: 50px;
    }

    .sub6 {
        margin-left: 60px;
    }

    .sub8 {
        margin-left: 110px;
    }

    .sub9 {
        margin-left: 50px;
    }

    .sub11 {
        margin-left: 95px;
    }

    .sub12 {
        margin-left: 85px;
    }

    .sub14 {
        margin-left: 100px;
    }

    .sub15 {
        margin-left: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .skills {
        padding: 1rem 8rem 0rem 8rem;
    }

    .small_list-1 {
        display: flex;
    }

    .small_list-2 {
        display: flex;
    }

    .small_list-3 {
        display: flex;
        justify-content: center;
    }

    .skills__subjects-list1 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list2 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list3 {
        flex-direction: column;
    }

    .skills__subjects-list4 {
        flex-direction: column;
    }

    .skills__subjects-list5 {
        flex-direction: column;
    }

    .sub1,
    .sub2,
    .sub3,
    .sub5,
    .sub6,
    .sub7,
    .sub8,
    .sub9,
    .sub10,
    .sub11,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: 10px;
    }

    .sub4 {
        margin-left: -10px;
    }

    .sub12 {
        margin-left: -30px;
    }

    .sub13,
    .sub14,
    .sub15 {
        margin-left: 150px;
    }
}

@media screen and (max-width: 910px) {
    .skills {
        padding: 1rem 6rem 0rem 6rem;
    }

    .small_list-1 {
        display: flex;
    }

    .small_list-2 {
        display: flex;
    }

    .small_list-3 {
        display: flex;
        justify-content: center;
    }

    .skills__subjects-list1 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list2 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list3 {
        flex-direction: column;
    }

    .skills__subjects-list4 {
        flex-direction: column;
    }

    .skills__subjects-list5 {
        flex-direction: column;
    }

    .sub1,
    .sub2,
    .sub3,
    .sub5,
    .sub6,
    .sub7,
    .sub8,
    .sub9,
    .sub10,
    .sub11,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: 10px;
    }

    .sub4 {
        margin-left: -10px;
    }

    .sub12 {
        margin-left: -30px;
    }

    .sub13,
    .sub14,
    .sub15 {
        margin-left: 150px;
    }
}

@media screen and (max-width: 850px) {
    .skills {
        padding: 1rem 4rem 0rem 4rem;
    }

    .small_list-1 {
        display: flex;
    }

    .small_list-2 {
        display: flex;
    }

    .small_list-3 {
        display: flex;
        justify-content: center;
    }

    .skills__subjects-list1 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list2 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list3 {
        flex-direction: column;
    }

    .skills__subjects-list4 {
        flex-direction: column;
    }

    .skills__subjects-list5 {
        flex-direction: column;
    }

    .sub1,
    .sub2,
    .sub3,
    .sub5,
    .sub6,
    .sub7,
    .sub8,
    .sub9,
    .sub10,
    .sub11,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: -20px;
        font-size: small;
    }

    .sub4 {
        margin-left: -10px;
        font-size: small;
    }

    .sub12 {
        margin-left: -30px;
        font-size: small;
    }

    .sub13,
    .sub14,
    .sub15 {
        margin-left: 100px;
        font-size: small;
    }
}

@media screen and (max-width: 750px) {
    .loader {
        margin-top: -110px;
        margin-left: 10px;
    }

    .skills {
        padding: 1rem 0rem 0rem 0rem;
    }

    .small_list-1 {
        display: flex;
    }

    .small_list-2 {
        display: flex;
    }

    .small_list-3 {
        display: flex;
        justify-content: center;
    }

    .skills__subjects-list1 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list2 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list3 {
        flex-direction: column;
    }

    .skills__subjects-list4 {
        flex-direction: column;
    }

    .skills__subjects-list5 {
        flex-direction: column;
    }

    .sub1,
    .sub2,
    .sub3,
    .sub5,
    .sub6,
    .sub7,
    .sub8,
    .sub9,
    .sub10,
    .sub11,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: 10px;
    }

    .sub4 {
        margin-left: -10px;
    }

    .sub12 {
        margin-left: -30px;
    }

    .sub13,
    .sub14,
    .sub15 {
        margin-left: 150px;
    }
}

@media screen and (max-width: 660px) {
    .skills {
        padding: 1rem 0rem 0rem 0rem;
    }

    .small_list-1 {
        display: flex;
    }

    .small_list-2 {
        display: flex;
    }

    .small_list-3 {
        display: flex;
        justify-content: center;
    }

    .skills__subjects-list1 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list2 {
        display: flex;
        flex-direction: column;
    }

    .skills__subjects-list3 {
        flex-direction: column;
    }

    .skills__subjects-list4 {
        flex-direction: column;
    }

    .skills__subjects-list5 {
        flex-direction: column;
    }

    .sub1,
    .sub2,
    .sub3,
    .sub5,
    .sub6,
    .sub7,
    .sub8,
    .sub9,
    .sub10,
    .sub11,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: 10px;
    }

    .sub4 {
        margin-left: -10px;
    }

    .sub12 {
        margin-left: -30px;
    }

    .sub13,
    .sub14,
    .sub15 {
        margin-left: 150px;
    }
}



@media screen and (max-width: 510px) {
    .skills {
        padding: 1rem 0rem 1rem 0rem;
    }

    .small_list-1 {
        display: block;
    }

    .small_list-2 {
        display: block;
    }

    .small_list-3 {
        display: block;
        justify-content: center;
    }

    .skills__subjects-list1 {
        flex-direction: column;
    }

    .skills__subjects-list2 {
        flex-direction: column;
    }

    .skills__subjects-list3 {
        flex-direction: column;
    }

    .skills__subjects-list4 {
        flex-direction: column;
    }

    .skills__subjects-list5 {
        flex-direction: column;
    }

    .sub1,
    .sub2,
    .sub3,
    .sub7,
    .sub8,
    .sub9,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: 25px;
        font-size: small;

    }

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 150px;
        font-size: small;
    }
}

@media screen and (max-width: 473px) {

    .sub1,
    .sub2,
    .sub3,
    .sub7,
    .sub8,
    .sub9,
    .sub13,
    .sub14,
    .sub15 {
        margin-left: -10px;
    }

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 120px;
        /* direction: rtl; */
    }
}

@media screen and (max-width: 415px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 90px;
    }
}

@media screen and (max-width: 385px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 80px;
    }
}

@media screen and (max-width: 367px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 70px;
    }
}

@media screen and (max-width: 357px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 40px;
    }
}

@media screen and (max-width: 332px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 20px;
    }
}

@media screen and (max-width: 325px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: 5px;
    }
}

@media screen and (max-width: 315px) {

    .sub4,
    .sub5,
    .sub6,
    .sub10,
    .sub11,
    .sub12 {
        margin-left: -15px;
    }
}