* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.custom__button {
    box-shadow: 1px 1px 5px 1px rgb(82, 82, 177);
    background-color: rgb(9, 9, 53);
    color: wheat;
    margin-top: 30px;
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 50%;
    letter-spacing: 1px;
    font-family: serif;
}

.custom__button:focus {
    color: whitesmoke;
}

.custom__button:hover {
    box-shadow: 1px 1px 5px 1px rgb(82, 82, 177) inset;
}